<!-- Login Component -->
<nav class="navbar">
  <h1>Online-Wallet</h1>
</nav>
<main>
  <section class="login">
    <form #loginData="ngForm" (ngSubmit)="login(loginData.value)">
      <h2 class="large-text">Sign In</h2>
      <input type="text" id="user-email" placeholder="Enter Email" name="email" ngModel> <br>
      <input type="password" id="user-pass" placeholder="Enter Password" name="password" ngModel> <br>
      <input type="submit" value="Login" class="btn btn-submit">
      <p class="not-user">Not a user? <a routerLink="/register" routerLinkActive="active" class="register">Register&nbsp;Here</a></p>
    </form>
  </section>
</main>